@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Poppins:wght@300;400;600&family=Montserrat:wght@300;400;600&family=DM+Sans:wght@300;400;600&display=swap');
.font-inter { font-family: 'Inter', sans-serif; }
.font-montserrat { font-family: 'Montserrat', sans-serif; }
.font-dm-sans { font-family: 'DM Sans', sans-serif; }


.font-poppins {
    font-family: 'Poppins', sans-serif;
}

:root {
    color-scheme: dark;

}
html {
    scroll-behavior: smooth;
}
